In [1]:
import requests
import pandas as pd

In [2]:
api_key='a58413697e8263de9c95cab92049ea3f'
symbol='BTCUSD'
query=f'https://financialmodelingprep.com/api/v3/historical-price-full/{symbol}?apikey={api_key}'

In [3]:
response=requests.get(query)

In [4]:
df = pd.DataFrame(response.json()['historical'])

In [5]:
df

,date,open,high,low,close,adjClose,volume,unadjustedVolume,change,changePercent,vwap,label,changeOverTime
0,2021-09-07,52561.757813,52850.425781,52420.921875,52620.878906,52620.878906,4.044913e+10,4.044913e+10,59.12109,0.112,52630.74219,"September 07, 21",0.00112
1,2021-09-06,51769.003906,52700.941406,51053.679688,52633.535156,52633.535156,3.888411e+10,3.888411e+10,864.53125,1.670,52129.38542,"September 06, 21",0.01670
2,2021-09-05,49937.859375,51868.679688,49538.597656,51753.410156,51753.410156,3.032268e+10,3.032268e+10,1815.55078,3.636,51053.56250,"September 05, 21",0.03636
3,2021-09-04,50009.324219,50545.582031,49548.781250,49944.625000,49944.625000,3.747133e+10,3.747133e+10,-64.69922,-0.129,50012.99609,"September 04, 21",-0.00129
4,2021-09-03,49288.250000,50982.273438,48386.085938,50025.375000,50025.375000,4.320618e+10,4.320618e+10,737.12500,1.496,49797.91146,"September 03, 21",0.01496
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1822,2016-09-11,623.424011,628.817993,600.505981,606.718994,606.718994,7.361080e+07,7.361080e+07,-16.70502,-2.680,612.01432,"September 11, 16",-0.02680
1823,2016-09-10,622.927002,625.094971,622.395020,623.508972,623.508972,4.501680e+07,4.501680e+07,0.58197,0.093,623.66632,"September 10, 16",0.00093
1824,2016-09-09,626.351990,626.830017,620.263000,622.861023,622.861023,6.455020e+07,6.455020e+07,-3.49097,-0.557,623.31801,"September 09, 16",-0.00557
1825,2016-09-08,614.635010,628.770020,613.843994,626.315979,626.315979,8.671300e+07,8.671300e+07,11.68097,1.900,622.97666,"September 08, 16",0.01900
1826,2016-09-07,610.572998,614.544983,608.513000,614.544006,614.544006,7.503240e+07,7.503240e+07,3.97101,0.650,612.53400,"September 07, 16",0.00650

In [6]:
df['date'] = pd.to_datetime(df['date'])

In [7]:
date = pd.to_datetime('2021-05-01')

In [8]:
df4months = df[df['date']>date]

In [9]:
df4months

,date,open,high,low,close,adjClose,volume,unadjustedVolume,change,changePercent,vwap,label,changeOverTime
0,2021-09-07,52561.757813,52850.425781,52420.921875,52620.878906,52620.878906,4.044913e+10,4.044913e+10,59.12109,0.112,52630.74219,"September 07, 21",0.00112
1,2021-09-06,51769.003906,52700.941406,51053.679688,52633.535156,52633.535156,3.888411e+10,3.888411e+10,864.53125,1.670,52129.38542,"September 06, 21",0.01670
2,2021-09-05,49937.859375,51868.679688,49538.597656,51753.410156,51753.410156,3.032268e+10,3.032268e+10,1815.55078,3.636,51053.56250,"September 05, 21",0.03636
3,2021-09-04,50009.324219,50545.582031,49548.781250,49944.625000,49944.625000,3.747133e+10,3.747133e+10,-64.69922,-0.129,50012.99609,"September 04, 21",-0.00129
4,2021-09-03,49288.250000,50982.273438,48386.085938,50025.375000,50025.375000,4.320618e+10,4.320618e+10,737.12500,1.496,49797.91146,"September 03, 21",0.01496
...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,2021-05-06,57441.308594,58363.316406,55382.507813,56396.515625,56396.515625,6.952329e+10,6.952329e+10,-1044.79297,-1.819,56714.11328,"May 06, 21",-0.01819
125,2021-05-05,53252.164063,57911.363281,52969.054688,57424.007813,57424.007813,6.924132e+10,6.924132e+10,4171.84375,7.834,56101.47526,"May 05, 21",0.07834
126,2021-05-04,57214.179688,57214.179688,53191.425781,53333.539063,53333.539063,6.856471e+10,6.856471e+10,-3880.64063,-6.783,54579.71484,"May 04, 21",-0.06783
127,2021-05-03,56620.273438,58973.308594,56590.871094,57200.292969,57200.292969,5.171314e+10,5.171314e+10,580.01953,1.024,57588.15755,"May 03, 21",0.01024
128,2021-05-02,57825.863281,57902.593750,56141.906250,56631.078125,56631.078125,3.817741e+10,3.817741e+10,-1194.78516,-2.066,56891.85938,"May 02, 21",-0.02066

In [11]:
df4months = df4months[['date', 'open', 'adjClose']]

In [12]:
df4months

          date          open      adjClose
0   2021-09-07  52561.757813  52620.878906
1   2021-09-06  51769.003906  52633.535156
2   2021-09-05  49937.859375  51753.410156
3   2021-09-04  50009.324219  49944.625000
4   2021-09-03  49288.250000  50025.375000
..         ...           ...           ...
124 2021-05-06  57441.308594  56396.515625
125 2021-05-05  53252.164063  57424.007813
126 2021-05-04  57214.179688  53333.539063
127 2021-05-03  56620.273438  57200.292969
128 2021-05-02  57825.863281  56631.078125

[129 rows x 3 columns]

In [15]:
df4months.to_csv('../cryptocurrency_trading/data/4-month-BTC-perf.csv', encoding='utf-8', index=False)

In [16]:
ticker_api_url = 'https://financialmodelingprep.com/api/v3/quotes/crypto?apikey=a58413697e8263de9c95cab92049ea3f'

In [25]:
#!/usr/bin/env python

try:
    # For Python 3.0 and later
    from urllib.request import urlopen
except ImportError:
    # Fall back to Python 2's urllib2
    from urllib2 import urlopen

import json

In [43]:
def get_jsonparsed_data(url):
    """
    Receive the content of ``url``, parse it as JSON and return the object.

    Parameters
    ----------
    url : str

    Returns
    -------
    dict
    """
    url = ("https://financialmodelingprep.com/api/v3/quote/BTCUSD?apikey=a58413697e8263de9c95cab92049ea3f")
    response = urlopen(url)
    data = response.read().decode("utf-8")
    return json.loads(data)

# print(get_jsonparsed_data(url)[0]['price'])

a = get_jsonparsed_data(url)
a

[{'symbol': 'BTCUSD',
  'name': 'Bitcoin USD',
  'price': 51124.895,
  'changesPercentage': -1.5343807,
  'change': -796.6719,
  'dayLow': 50689.406,
  'dayHigh': 52850.426,
  'yearHigh': 64863.098,
  'yearLow': 9945.11,
  'marketCap': 900956684288.0,
  'priceAvg50': 43586.973,
  'priceAvg200': 46120.266,
  'volume': 46408499200,
  'avgVolume': 33002171708,
  'exchange': 'CRYPTO',
  'open': 52561.758,
  'previousClose': 52561.758,
  'eps': None,
  'pe': None,
  'earningsAnnouncement': None,
  'sharesOutstanding': 17622661,
  'timestamp': 1631013171}]